@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, dim --prefersdark;
}

ul,
li {
  margin: 0;
  padding: 0;
}

@theme {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  --animate-fade-in: fade-in 0.3s ease-in-out;

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  --animate-slide-in: slide-in 0.3s ease-out;
}
